/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap');

/* end fonts */
:root {
   --secondary: #ff9100;
   --white: #fff;
   --light-white: rgb(170, 170, 170);
   --black: #28282B;
   --light-bg: #4b4b4b67;
   --light-bg-ft: #4b4b4bad;
}

* {
   font-family: 'Merriweather', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   transition: .3s linear;
}

*::selection {
   background-color: var(--white);
   color: var(--black);
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 8rem;
}

body {
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   background-color: var(--black);
}

section {
   max-width: 1200px;
   margin: 0 auto;
   padding: 1rem;
}

input {
   caret-color: var(--secondary);
}

::-webkit-scrollbar {
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track {
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: var(--secondary);
   border-radius: 2rem;
}

/* header */
.heading {
   font-family: 'DynaPuff', cursive;
   margin-bottom: 2.5rem;
   text-align: center;
   letter-spacing: 0.3rem;
   font-size: 4rem;
   color: var(--white);
   text-transform: uppercase;
}

.heading span {
   font-family: 'DynaPuff', cursive;
   color: var(--secondary);
   text-transform: uppercase;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
   background-color: var(--light-bg-ft);
   backdrop-filter: blur(10px);
}

.header .flex {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 2.5rem;
   color: var(--white);
}

.header .flex .navbar a {
   font-weight: 700;
   margin-left: 2rem;
   color: var(--light-white);
   font-size: 2rem;
}

.header .flex .navbar a:hover {
   color: var(--secondary);
}

/* end header  */



/* home */
.home {
   margin-top: 6rem;
}

.home .row {
   display: flex;
   align-items: center;
   flex-wrap: wrap-reverse;
   gap: 1.5rem;
}

.home .row .content {
   flex: 1 1 40rem;
   text-align: center;
}

.home .row .image {
   flex: 1 1 40rem;
}

.home .row .image img {
   width: 100%;
}

/* home end */
.home .row .content h1 {
   font-family: 'DynaPuff', cursive;
   margin-bottom: 1rem;
   letter-spacing: 0.3rem;
   font-size: 10rem;
   color: var(--white);
   line-height: 1;
}

.home .row .content h1 span {
   font-family: 'DynaPuff', cursive;
   color: var(--secondary);
}

/* count  */
.count .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap: 1.5rem;
   align-items: flex-start;
}

.count .box-container .box {
   background-color: var(--light-bg);
   border-radius: 3.5rem;
   padding: 2rem;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   gap: 2rem;
}

.count .box-container .box .content h3 {
   font-size: 2rem;
   color: var(--white);
   margin-bottom: .5rem;
}

.count .box-container .box .content p {
   font-size: 1.6rem;
   font-style: italic;
   color: var(--light-white);
}

/* end count */
/* why choose */
.why-choose__about {
   margin-top: 20px;
   margin-left: 20px;
}

.why-choose__text {
   padding: 1rem;
   line-height: 2;
   font-size: 1.6rem;
   border-radius: 3.5rem;
   background-color: var(--light-bg);
   padding: 1.4rem;
}




.why-choose__items {
   text-align: left;
   font-size: 2rem;
   padding: 5px;
   color: var(--light-white);
   list-style: none;
   font-style: italic;
}

.why-choose__items span {
   font-style: normal;
   color: var(--white);
   font-size: 2.5rem;
}

.hover-underline-animation {
   display: inline-block;
   position: relative;
}

.hover-underline-animation:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: var(--secondary);
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
}

/* end why choose */
.about .row {
   margin-top: ;
   display: flex;
   align-items: center;
   gap: 1.5rem;
   flex-wrap: wrap;
}

.about .row .image {
   flex: 1 1 40rem;
}

.about .row .image img {
   width: 100%;
}

.about .row .content {
   text-align: center;
   flex: 1 1 40rem;
}

.about .row .content h3 {
   font-size: 3rem;
   color: var(--white);
}

.about .row .content p {
   padding: 1rem 0;
   line-height: 2;
   font-size: 1.6rem;
   color: var(--light-white);
}


/* teacher */
.teacher {
   object-fit: cover;
   margin-top: 1rem;
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding: 1.4rem;
}

.teacher__box {
   display: flex;
   justify-content: space-around;
}

.about__teacher {
   margin-top: 20px;
   margin-left: 20px;
}

.teacher__name {
   font-size: 4.5rem;
   color: var(--white);
   margin-bottom: 5px;

}

.teacher__positioun {
   font-size: 3rem;
   font-style: italic;
   color: var(--light-white);
   margin-bottom: 10px;
}

.about__items {
   font-size: 2.5rem;
   padding: 10px;
   color: var(--white);
   list-style: none;
}

.about__text {
   padding: 1rem;
   line-height: 2;
   font-size: 1.6rem;
   color: var(--light-white);
   border-radius: 3.5rem;
   background-color: var(--light-bg);
   padding: 1.4rem;
}

.teacher__btn {
   display: flex;
   justify-items: center;
   align-items: center;
   gap: 1.5rem;
   flex-wrap: wrap;
}

.teacher__btn a {
   margin-top: 0;
}

.share a {
   margin: 1.3rem;
   height: 5.5rem;
   width: 5.5rem;
   padding-left: 14px;
   line-height: 5.5rem;
   border-radius: 50%;
   font-size: 3rem;
   color: var(--white);
   background-color: var(--light-bg-ft);
   ;
}

.share a:not(:last-child) {
   padding-left: 17px;
}

.share a:hover {
   background-color: var(--secondary);
}

/* end teacher */

/* slider */
.swiper-pagination-bullet-active {
   background-color: var(--secondary);
}

.reviews-slider .slide {
   border-radius: 3.5rem;
   background-color: var(--light-bg);
   padding: 2rem;
   margin-bottom: 4rem;
   user-select: none;
}

.reviews-slider .slide p {
   line-height: 2;
   font-size: 1.6rem;
   font-style: italic;
   color: var(--light-white);
}

.reviews-slider .slide .user {
   display: flex;
   align-items: center;
   gap: 1.5rem;
   margin-top: 1.5rem;
}

.reviews-slider .slide .user img {
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   object-fit: cover;
}

.reviews-slider .slide .user h3 {
   font-size: 2rem;
   color: var(--white);
   margin-bottom: .7rem;
}

.reviews-slider .slide .user .stars i {
   font-size: 1.5rem;
   color: var(--secondary);
}

/* end slider */

/* answers */
.answers .row {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.answers .row .content {
   text-align: center;
   flex: 1 1 40rem;
}

.answers .content h3 {
   font-family: 'DynaPuff', cursive;
   letter-spacing: 0.3rem;
   margin-bottom: 2.5rem;
   text-align: center;
   font-size: 4rem;
   color: var(--white);
   text-transform: uppercase;
}

.answers .content h3 span {
   font-family: 'DynaPuff', cursive;
   color: var(--secondary);
}

/* end answers */

/* accardion */
.accordion {
   background-color: var(--light-bg);
   color: var(--light-white);
   cursor: pointer;
   padding-top: 15px;
   padding-left: 15px;
   width: 100%;
   text-align: left;
   border: none;
   border-radius: .5rem;
   font-size: 1.8rem;
   outline: none;
   transition: 0.4s;
}

.accordion:hover {
   background-color: var(--light-white);
   color: var(--black);
}

.activ::after:hover {
   color: var(--black);
}

.accordion:after {
   content: '+';
   font-size: 4rem;
   color: var(--secondary);
   float: right;
   margin-left: 5px;
   margin-right: 15px;
   margin-bottom: 20px;
}

.accordion p {
   display: inline-block;
   margin: 13px 0px;

}

.activ:after {
   content: "-";
   color: var(--secondary);
}

.panel {
   font-size: 1.8rem;
   font-style: italic;
   border-radius: .5rem;
   background-color: var(--light-white);
   color: var(--black);
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
   border-top: 1px var(--black) solid;
}

.panel p {
   padding: 15px;
}

/* end accardion */

/* contact */
.contact .row {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.contact .row .image {
   flex: 1 1 40rem;
}

.contact .row .image img {
   width: 100%;
}

.contact .row form {
   flex: 1 1 40rem;
}

.contact .row form .box {
   width: 100%;
   margin-top: 1rem;
   margin-bottom: 2rem;
   border-radius: 3.5rem;
   background-color: var(--light-bg);
   font-size: 1.8rem;
   color: var(--white);
   padding: 1.4rem;
   text-transform: none;
}

.contact .row form span {
   font-size: 1.6rem;
   color: var(--light-white);
}

/* end contact */

/* footer */
.footer {
   background-color: var(--light-bg-ft);
   text-align: center;
   /* padding-bottom: 7rem; */
}

.footer .credit {
   margin-top: 2.5rem;
   padding: 1.5rem;
   padding-top: 2.5rem;
   border-top: .1rem solid var(--secondary);
   font-size: 2rem;
   color: var(--light-white);
}

.footer .credit span {
   color: var(--secondary);
}

/* end footer */

/* btn */
.btn {
   display: inline-block;
   margin-top: 1rem;
   border-radius: 5rem;
   background-color: var(--light-bg);
   cursor: pointer;
   color: var(--light-white);
   font-size: 1.8rem;
   font-weight: 700;
   padding: 2rem 3rem;
}

.btn:hover {
   background-color: var(--secondary);
   color: var(--black);
}

#menu-btn {
   cursor: pointer;
   color: var(--white);
   font-size: 2.5rem;
   display: none;
}

/* end btn */

/* animation */
.fullscreen_title {
   transform: translate(0px, 120%);
   opacity: 0;
   transition: all 0.8s ease 0s;
}

.fullscreen_title._active {
   transform: translate(0px, 0px);
   opacity: 1;
}

.fullscreen_btn {
   transform: translate(0px, 120%);
   opacity: 0;
   transition: transform translate 0.8s ease 0.8s;
}

.fullscreen_btn._active {
   transform: translate(0px, 0px);
   opacity: 1;
}

.fullscreen_img {
   transform: translate(0px, 0%);
   opacity: 0;
   transition: all 0.8s ease 0.5s;
}

.fullscreen_img._active {
   transform: translate(0px, 0px);
   opacity: 1;
}

/* end animation */

/* media queries  */

@media (max-width:991px) {

   html {
      font-size: 55%;
   }

   .home .row .content h3 {
      font-size: 8rem;
   }

}

@media (max-width:768px) {
   .btn {
      font-size: 4rem;
      margin: 30px auto;
      padding: 2rem 3rem;
   }

   .btn-mobile {
      display: block;
      margin: 0 auto;
   }

   #menu-btn {
      color: var(--secondary);
      display: inline-block;
      font-size: 5rem;
   }

   #menu-btn.fa-times {
      transform: rotate(180deg);
   }


   .header .flex .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      border-top: .1rem solid var(--light-white);
      border-bottom: .1rem solid var(--light-white);
      background-color: var(--light-bg);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a {
      font-size: 4rem;
      text-align: center;
      display: block;
      margin: 3rem;
   }

   .home .row .content h3 {
      font-size: 6rem;
   }


   .about__text {
      text-align: start;
   }

   .teacher__box {
      text-align: center;
      flex-direction: column;
   }

   .teacher {
      width: 95%;
   }

   .teacher__about {
      width: 100%;
   }

   .about__teacher {
      margin-left: 0;
   }

   .teacher__positioun {
      padding-bottom: 2rem;
   }

   .teacher__btn {
      display: flex;
      flex-direction: column;
   }

   .share a {
      margin: 3.3rem;
      height: 6.5rem;
      width: 6.5rem;
      padding-right: 10px;
      line-height: 6.5rem;
      border-radius: 50%;
      font-size: 4rem;
   }

   .share a:not(:last-child) {
      padding-right: 20px;
   }

   .about__text {
      font-size: 2rem;
   }

   .home .row .image img {
      margin-top: -2rem;
   }
}

@media (max-width:450px) {

   html {
      font-size: 50%;
   }

   .count .box-container .box {
      gap: 1.8rem;
   }

   .count .box-container .box:last-child {
      gap: 0.5rem;
   }

   .home .row .content h3 {
      font-size: 5rem;
   }

   h3 .heading {
      padding: 30px 0;
   }

   .heading {
      font-size: 3rem;
   }

   .teacher__btn {
      display: inline-block;
   }

   .share {
      margin: 30px 0;
   }

   .share a {
      margin: 1.3rem;
      height: 5.5rem;
      width: 5.5rem;
      padding-left: 11px;
      line-height: 5.5rem;
      border-radius: 50%;
      font-size: 3rem;

   }

   .share a:not(:last-child) {
      padding-right: 15px;
   }

   .home .row .image img,
   .about .row .image img,
   .contact .row .image img {
      display: block;
      margin: 0 auto;
      width: 90%;
   }
}

/* end media */